@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap');

:root{
    --white:#fff;
    --primary:#fe2c55;
    --back:#000;
    --text-color:#333;
    //Default layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-space: 24px;
}
html {
    font-size: 62.5%;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    font-size: 1.6rem;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 300;
    font-stretch: 100%;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/ibmplexsans/v21/zYXzKVElMYYaJe8bpLHnCwDKr932-G7dytD-Dmu1syxTKYbABA.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C8A, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

button, input,[tabindex]{
    outline: none;
    border: none;
}
a[href]{
    color: var(--text-color);
    text-decoration: none;
}

// custom body tooltip 
body {
    .tippy-box{
        border-radius: 8px;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 22px;
        background-color: rgba(84, 84, 84, 0.92)

    }

    .tippy-arrow{
        color: rgba(84,84,84,0.92);
    }
    .tippy-content{
        padding: 8px 9px;
    }
    .tippy-box[data-placement^='bottom'] > .tippy-arrow::before{
        top: -8px;
    }
}