.wrapper {
  --search-border-radius: 92px;
  --search-hight: 46px;
  --search-top-spacer: 9px;
  --search-btn-with: 52px;
  height: var(--default-layoutt-header-height, 60px);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}
.inner {
  height: 100%;
  width: var(--default-layout-width, 1150px);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px var(--default-layout-horizontal-space);
}



.custom-login {
    color: red;
}

// Action
.more-btn {
  font-size: 2rem;
  margin-left: 24px;
  background-color: transparent;
  padding: 4px 8px;
  cursor: pointer;
}

.action {
  display: flex;
  align-items: center;
}
.action-btn{
    font-size: 2.4rem;
    color: #161823;
    padding: 4px 12px;
    background-color: transparent;
    cursor: pointer;
}

//User-avatar
.user-avatar{
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-left: 12px;
    cursor: pointer;
}
